/*COLORS
------------------*/

/*primary*/
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

/*neutral*/
$tundora: #403738;
$light-gray: #a39a9b;
$dark-grayish-red: hsl(0, 6%, 24%);

/*gradients*/
$gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-two: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));


/*TYPOGRAPHY
------------------*/

/*family*/
$font-primary: 'Josefin Sans',
sans-serif;

/*font size*/
/*
   function
   font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

   example
   font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
*/

$font-xl: calc(42px + (48 - 42) * ((100vw - 300px) / (1440 - 300)));
$font-l: calc(36px + (36 - 24) * ((100vw - 300px) / (1440 - 300)));
$font-m: calc(18px + (28 - 18) * ((100vw - 300px) / (1440 - 300)));
$font-s: calc(14px + (16 - 14) * ((100vw - 300px) / (1440 - 300)));
$font-xs: calc(14px + (16 - 14) * ((100vw - 300px) / (1440 - 300)));

$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;