.container {
   width: min(100%, 1440px);
   margin: 0 auto;
}

.landing {

   &__nav,
   &__text {
      width: 80%;
      margin: 0 auto;
   }

   &__nav {
      padding: 2.2em 0;
   }

   &__text {
      padding: 4em 0;
      text-align: center;
   }

   &__img {
      display: block;
      max-height: 550px;
      overflow: hidden;
   }

   @include mq {

      display: flex;
      height: 90vh;

      &__content {
         background-image: url('../images/bg-pattern-desktop.svg');
         background-repeat: no-repeat;
         background-size: 55% 100%;
         margin: auto;
         display: grid;
         grid-template-columns: 1fr minmax(35%, 450px) 1fr 45%;
         grid-template-rows: auto 1fr auto 2fr;
         -webkit-box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.75);
         -moz-box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.75);
         box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.75);
      }

      &__nav {
         grid-column: 2/3;
         grid-row: 1/2;
      }

      &__img {
         max-height: none;
         grid-column: 4/5;
         grid-row: 1/-1;
         display: flex;
      }

      &__text {
         grid-column: 2/3;
         grid-row: 3/4;
         text-align: left;
         padding: 0;
      }

   }

}